.profile-detail__stats--force-row {
    grid-template-columns: auto !important;
}

@media (min-width: 900px) {
    .cavitedev-topic-flag {
        margin-left: 4px !important;
    }
}

@media (max-width: 899px) {
    .cavitedev-topic-flag-parent {
        flex-direction: column;
        align-items: center;
    }
    .cavitedev-topic-flag {
        margin-top: 4px !important;
    }
}

.ranking-page-table__flags{
    gap: 4px !important;
}

.profile-info__flag.profile-info__flag-region{
    grid-template-columns: auto auto 1fr !important;
}