.profile-detail__stats--force-row {
    grid-template-columns: auto !important;
}

@media (min-width: 900px) {
    .cavitedev-topic-flag {
        margin-left: 4px !important;
    }

    .profile-detail-stats__chart-numbers--top .profile-detail-stats__values:first-child {
        flex-wrap: wrap;
        row-gap: 6px;
    }
    .profile-detail-stats__chart-numbers--top .profile-detail-stats__values:first-child .value-display__label {
        white-space: nowrap;
    }
}

@media (max-width: 899px) {
    .cavitedev-topic-flag-parent {
        flex-direction: column;
        align-items: center;
    }
    .cavitedev-topic-flag {
        margin-top: 4px !important;
    }
}

.ranking-page-table__flags{
    gap: 4px !important;
}

.profile-info__flag.profile-info__flag-region{
    grid-template-columns: auto auto 1fr !important;
}

.user-cards{
    grid-template-columns: repeat(auto-fill, minmax(316px, 1fr)) !important;
}