@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    @apply text-base leading-tight text-white bg-slate-950;
}

html {
    --backgroundAccent: #2e293d;
    --backgroundAccentDark: #1a1822;
}
a {
    @apply text-purple-500 underline;
}
