# IDE
.idea/*
.code/*

# build archive
chrome.zip
chromium.zip
firefox.zip

# build version
extensions/chrome_dev/*
extensions/firefox_dev/*
data/*

credentials/*
darkReader/
node_modules/
build/

chrome-win64/
osu_ranking.html