# IDE
.idea/*
.code/*

# build archive
chrome.zip
chromium.zip
firefox.zip
extension.zip

# build version
extensions/chrome_dev/*
extensions/firefox_dev/*

tmp/
data/

credentials/*
darkReader/
node_modules/
build/
dist/

dataFetcher/countryVisualization/
dataFetcher/translations/out/
dataFetcher/flags/osu/out/
dataFetcher/flags/out/
