.sidebar {
    width: 30%;
    position: relative;
    max-width: 289px;
    padding: 6px;
    background: linear-gradient(var(--backgroundAccent), var(--backgroundAccentDark));
    box-shadow: 8px 8px 64px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: all 0.5s ease;
}
